body {
  font-family: 'Open Sans', sans-serif;
}
p{
  line-height: 2.1rem;
}

main{

  .about{
    font-size: 1.1rem;
    blockquote {
      color: #788086;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: #eee;
        width: 8px;
        height: 100%;
      }
    }
  }

  .experience{
    blockquote{
      background-color: #e9ecef;
      padding-top: 5rem !important;
      .date{
        top: 0;
        left: 0;
        height: 40px;
        align-items: center;
        border: solid 2px #e9ecef;
        padding: 1rem;
      }
    }
  }

}


.cover{
  object-fit: cover;
}

.about {

}

.features {

}


.footer {

}