body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.bd-example {
  position: relative;
  padding: .9rem;
  margin: 1rem -15px 0;
  border: solid #f7f7f9;
  border-width: .2rem;
}

.jumbotron{
  padding: 1.5rem 2rem;
}

main{

  .about{
    blockquote {
      color: #788086;
    }
  }



  .tags{
    li{
      display: inline-block;
      background: #e9ecef;
      padding: .2rem .6rem;
      margin: 0.1rem 0;
      border-radius: .2rem;
      font-size: 12px;
    }
  }
}

.list-group-item{
  padding: 0.40rem 1.25rem;
  border: 0;
}

.cover{
  object-fit: cover;
}

.footer {
  a{
    color: #000;
  }
}
